MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=kingsman_development
MYSQL_POOL=50
MYSQL_CHARSET=utf8


KINGSMAN_BASIC_USER=bukalapak
KINGSMAN_BASIC_PASSWORD=bukalapak
